@font-face {
  font-family: "stupid-meeting";
  src: url("assets/fonts/stupid-meeting.woff2") format("woff2");
}

@font-face {
  font-family: "chicken";
  src: url("assets/fonts/chicken-quiche.ttf") format("truetype");
}

@font-face {
  font-family: "organic";
  src: url("assets/fonts/organic-brand.ttf") format("truetype");
}

@font-face {
  font-family: "daisy";
  src: url("assets/fonts/daisywhl.woff2") format("woff2");
}

@font-face {
  font-family: "molet";
  src: url("assets/fonts/molet-raenak.ttf") format("truetype");
}

* {
  cursor: url(assets/cursor/star-cursor.png), auto;
}

body {
  width: 100%;
  height: 100vh;
}

.container__weather {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.app-name {
  font-family: "molet";
  font-size: 36px;
  background-image: url("assets/images/circle-fill-yellow.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 35px;
  text-align: center;
  line-height: 0.8;
  display: inline-block;
}

.app-name img {
  display: inline-block;
  max-width: 20px;
}

.be-name {
  display: inline-block;
}

.weather-name {
  font-family: "stupid-meeting";
  display: block;
}

.current-time {
  font-size: 46px;
  line-height: 1;
  margin-bottom: 0;
}

.current-day {
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 0;
}

.current-temperature,
.current-weather-description,
.current-city,
.current-country,
.current-day,
.current-time,
.celsius,
.fahrenheit,
.c-weather__day {
  font-family: "stupid-meeting";
}

.current-place {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0;
  line-height: 1;
}

.current-city {
  display: inline-block;
  margin-left: 5px;
  font-size: 60px;
}

.current-country {
  font-size: 23px;
  display: inline-block;
  top: -1.5em;
  right: -5px;
}

.current-weather-data {
  text-align: center;
}

.current-temperature {
  font-size: 100px;
  letter-spacing: -4px;
  display: inline-block;
  margin-bottom: 0;
  line-height: 1;
  position: relative;
}

.current-temperature__symbol {
  font-size: 95px;
  right: -21px;
  top: 17px;
  position: absolute;
}

.current-weather-description {
  font-size: 18px;
  text-transform: uppercase;
  margin: 0;
}

.celsius,
.fahrenheit {
  font-size: 20px;
  padding: 10px;
  color: #fff;
  border: none;
  transition: all 0.3s ease-in;
  background-color: #fff;
  background-image: url("assets/images/circle-fill-black.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.temperature-scale-dot {
  font-size: 30px;
  top: -3px;
}

.celsius:hover,
.fahrenheit:hover {
  background-image: url("assets/images/circle-fill-yellow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.weather-icon img {
  max-width: 180px;
  animation: weather-icon 2s linear infinite alternate;
  text-align: center;
}

.current-weather-wrapper {
  font-family: "stupid-meeting";
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.current-weather-wrapper div {
  width: 50%;
}

.scale-dot {
  font-size: 30px;
  top: -1px;
  right: 3px;
}

.error-message {
  font-family: "daisy";
  font-size: 18px;
  color: #fac75a;
  padding: 20px 10px;
}

.c-weather__box {
  border-radius: 10px;
  padding: 15px;
  transition: all 0.3s ease-in;
}

.c-weather__box--1,
.c-weather__box--6,
.c-weather__box--3:hover,
.c-weather__box--5:hover {
  background-color: rgba(232, 225, 239, 50%);
}

.c-weather__box--2,
.c-weather__box--4,
.c-weather__box--1:hover,
.c-weather__box--6:hover {
  background-color: rgba(206, 217, 237, 25%);
}

.c-weather__box--3,
.c-weather__box--5,
.c-weather__box--2:hover,
.c-weather__box--4:hover {
  background-color: rgba(250, 199, 90, 15%);
}

.c-weather__day {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: #8e6da0;
  display: inline-block;
  padding-right: 10px;
  margin-bottom: 0;
}

.c-weather__description {
  font-family: "The Girl Next Door";
  font-size: 16px;
  color: #8e6da0;
  opacity: 0.5;
  display: block;
  margin-bottom: 10px;
  line-height: 1.5;
}

.c-weather__temperature {
  font-family: "The Girl Next Door";
  font-size: 24px;
  display: inline-block;
  margin-bottom: 0;
  line-height: 1;
}

.c-weather__high-temperature {
  color: #8e6da0;
}

.c-weather__low-temperature {
  color: #fac75a;
}

.c-weather__icon {
  max-width: 90px;
  display: block;
  margin: 0 auto;
}

.c-search {
  text-align: right;
  align-items: center;
}

.c-search input[type="text"] {
  font-family: "daisy";
  font-size: 16px;
  line-height: 2;
  color: #fac75a;
  padding: 2px 10px;
  border: 1px solid #fac75a;
  appearance: none;
  border-radius: 5px;
  transition: border-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.c-search input[type="text"]:focus {
  color: #fac75a;
  border: none;
  outline: 0;
  box-shadow: 0 0 0 5px rgba(250, 199, 90, 25%);
}

.c-search input[type="text"]::placeholder {
  color: #fac75a;
}

.c-search input[type="text"]:focus::placeholder {
  color: #fac75a;
  opacity: 0.7;
}

.c-search__submit,
.c-search__location {
  color: #fac75a;
  background: none;
  appearance: none;
  border: none;
  font-size: 26px;
  margin-top: 10px;
}

.c-search__submit i,
.c-search__location i {
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
}

footer p {
  margin: 15px 0;
  font-family: "The Girl Next Door", cursive;
  text-align: center;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  padding: 20px;
  background-image: url("assets/images/circle-fill-black.svg");
  background-repeat: no-repeat;
  background-position: center;
}

footer i {
  font-size: 12px;
  color: #fac75a;
}

.github-link,
.profile-link {
  text-decoration: none;
  cursor: pointer;
  color: #fac75a;
  padding: 2px;
  display: inline-block;
  width: 100%;
}

.github-link:hover,
.profile-link:hover {
  color: #ff5d8f;
  padding: 2px;
}

@keyframes weather-icon {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0);
  }
}
